<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click) = "openSettings()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class>
      About
      <!-- <ion-img src="assets/logo.jpeg"></ion-img> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p>
      Version: 0.19.01a
    </p>
    <p>
      by Lovecrypto
    </p>
  </ion-text>
    
  
  </ion-content>