<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click) = "goBack()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class>
        Confirm Transaction
        <!-- <ion-img src="assets/logo.jpeg"></ion-img> -->
      </ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-text>
        <h2 class = "info">
            Please confirm the infos are correct
        </h2>
    </ion-text>

    <ion-text class ="transaction">
        <p>
            email: </p><p class = "bold">lucas.zacariassd@gmail.com</p>
        
        <p >
            amount: </p><p class = "sucess bold">$20.00</p>
        
        
    </ion-text>
    

    <ion-text>
        <p class = "info">
            Confirming the button below, the transaction cannot be undone and the amount will be debited from your Lovecrypto account and credited to your Coinbase account.
        </p>
    </ion-text>

    <ion-row class="footer" center>  
      <ion-col>   
          <ion-button size = "large" fill="clear" (click) = "confirm()"><span>confirm</span></ion-button>
      </ion-col> 
    </ion-row>
  
  </ion-content>
  