ion-header{
  background-color: purple;

  ion-img{
      margin: auto;
      margin-top: 90px;
      margin-bottom: 90px;
  }
  
  ion-img.logo{
      width: 300px;
  }
}


ion-content{



  #login-wrapper{
    margin-top: 30%;
    form{
      max-width: 400px;
      margin-top: 20%;
      margin: 25px;
      text-align: center;
    }
    h3{
      margin-bottom: 5%;
      text-align: center;
    }
    ion-button{
      width: 50%;
      // margin: 0 auto;
      font-size: 15px;
      position: absolute;
      bottom: 30px;
      left: 25%;
    }
    
    a.forgot{
      font-size: 14px;
      color: #7b05c9;
      cursor: pointer;
      margin: 0;  
    }
    p.forgot{
      float: right;
      font-size: 14px;
      color: rgba(0, 0 ,0 , 0.8);
    }
  }
  
}