<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openLegal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class>
      Privacy Policys
      <!-- <ion-img src="assets/logo.jpeg"></ion-img> -->
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum justo arcu, sit amet consequat quam bibendum in. Pellentesque sit amet massa lacinia, faucibus leo eget, commodo purus. Donec ac auctor est. Vestibulum molestie lobortis mauris ac volutpat. Quisque dictum nulla eget dictum vulputate. Morbi odio dolor, dapibus sit amet nibh vitae, lobortis finibus est. Praesent convallis semper augue, sed posuere est euismod vel. Cras id malesuada nisi, eget euismod felis. In a ornare dolor, et facilisis sem. Sed a felis vel orci porta scelerisque non sit amet arcu. Etiam semper quis metus sed ullamcorper. Curabitur odio dolor, viverra id tincidunt ut, bibendum nec purus.
      </p>
      <p>
        Praesent tempus vitae magna sed congue. Phasellus leo tellus, imperdiet at iaculis eget, bibendum a nisl. Fusce pulvinar hendrerit imperdiet. Phasellus faucibus ex tellus, vitae volutpat sem iaculis id. Suspendisse potenti. Etiam eget pharetra lorem. Pellentesque a fringilla diam.
      </p>   
      <p>
        Donec in hendrerit tellus, quis aliquam sapien. Morbi commodo erat vestibulum arcu feugiat vestibulum. Pellentesque convallis est quis ipsum congue, vitae consequat ex semper. Quisque ultrices, ipsum sit amet ultricies feugiat, eros erat ornare est, non molestie diam magna quis magna. Sed cursus dapibus elit ac feugiat. Pellentesque efficitur interdum est, quis dapibus magna interdum at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce varius ornare nibh, at aliquet sem interdum sit amet. Morbi id mauris semper, ullamcorper erat quis, eleifend felis. Etiam pulvinar dolor ac est eleifend fringilla. Vestibulum blandit, sapien pellentesque viverra efficitur, ex ligula cursus nisl, vel viverra est quam vitae tortor. In tincidunt dignissim luctus. Integer tincidunt, mi id luctus fermentum, massa massa blandit ante, eget maximus orci lectus vel nisi. 
      </p>
  </ion-text>
</ion-content>