ion-content{
  #signup-wrapper{
    margin-top: 30%;
    form{
      max-width: 400px;
      margin-top: 20%;
      margin: 0 auto;
      text-align: center;
    }
    h3{
      margin-bottom: 5%;
      text-align: center;
    }
    ion-button{
      width: 50%;
      // margin: 0 auto;
      font-size: 15px;
      position: absolute;
      bottom: 30px;
      left: 25%;
    }
    .forgot{
      float: right;
      font-size: 13px;
      color: #7b05c9;
      cursor: pointer;
      margin: 0;  
    }
  }
  
}