<ion-content class="welcome-page">


  <ion-slides [options]="sliderConfig">
    <ion-slide class="nmt">
      <img src="../../assets/background/background-1.png" class="slide-background" alt="">

      <p class="info">
        Earn a sweet reward in crypto or dollars to perform simple online tasks.
      </p>

    </ion-slide>
    <ion-slide>
      <img src="../../assets/background/background-2.png" class="slide-background" alt="">

      <p class="info">
        Made for you, cryptolover
      </p>

    </ion-slide>
    <ion-slide>
      <img src="../../assets/background/background-3.png" class="slide-background" alt="">


      <p class="info">
        Complete Your Profile and earn rewards.
      </p>

    </ion-slide>
  </ion-slides>




  <div class="content">
    <ion-img class="logo" src="../assets/logo.png"></ion-img>
    <ion-row class="buttons">

      <ion-button fill="outline" color="light" size="large" (click)="login()">Sign In</ion-button>
      <ion-button class="fill" color="light" size="large" (click)="signUp()"> Sign Up</ion-button>

    </ion-row>
  </div>

</ion-content>