<ion-header no-border color = "primary" >
  <ion-toolbar color = "primary" >
      <ion-img class="logo" src="../assets/logo.png"></ion-img>
  </ion-toolbar>
 

</ion-header>


<ion-content color = "primary" class="welcome-page">


  <ion-slides [options] = "sliderConfig">
    <ion-slide>
        <p class="info">
            Earn a sweet reward in crypto or in dollars to perform simple online tasks. 
        </p>
    </ion-slide>
    <ion-slide>
        <p class="info">
            Made for you, cryptolover
        </p>
    </ion-slide>
    <ion-slide>
        <p class="info">
            Complete Your Profile and earn rewards.
        </p>
    </ion-slide>
  </ion-slides>

  

  <div class="bullets"></div>

  <ion-row>

    <ion-button fill="outline" color="light" size="large" (click)="login()">Sign In</ion-button>
    <ion-button class="fill" color="light" size="large" (click)="signUp()"> Sign Up</ion-button>

  </ion-row>

</ion-content>