ion-header{
    background-color: purple;

    ion-img{
        margin: auto;
        margin-top: 90px;
    }
    
    ion-img.logo{
        width: 300px;
    }
}

ion-content{

   background-color: purple;    
   
    p.info{
        font-size: 25px;
        font-weight: bold;
        margin: 25px;
        //margin-top: 300px;
        //position: absolute;
        //bottom: 180px;
        //fon
        background-color: var(--primary-purple);
        height: 200px;
        width: 100%;
    }

    ion-slides{
        margin-top: 250px;
    }

    div.bullets{
        position: absolute;
        width: 100%;
        height: 40px;
       
       // background-color: cadetblue;
        bottom: 100px;
    }

    ion-row{
        position: absolute;
        //margin-top: 45px;
        width: 100%;
        //background-color: blanchedalmond;
        bottom: 40px;
        justify-content: space-evenly;

        ion-button{
            width: 160px;
            height: 48px;
            font-size: 14px;
            z-index: 1;
            
        }
    


    }
        
}



