<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title>
        Ionic Blank
        <!-- <ion-img src="assets/logo.jpeg"></ion-img> -->
      </ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="openHome()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="primary">
    <div class="ion-padding" id="banner">
      <ion-text>
        <p class="min-title">YOUR BALANCE</p>
      </ion-text>
      <ion-text>
        <h1 class="big-txt">$59.50</h1>
      </ion-text>
  
     
      <ion-button color="success">
        <p>REQUEST WITHDRAW</p>
      </ion-button>
    </div>
    <!-- / -->
    <div class="gradient-secondary-to-primary" id="task-title">
      <ion-text>
        <p class="ion-padding">WITHDRAW SUMARY</p>
      </ion-text>
    </div>
    <!-- / -->
    <div id="tasks" color="primary">
      <ion-item>
        <div slot="start" class="cmp">
          <p>COMPANY NAME VERY LONG TO TEST</p>
          <ion-label>detila detail short description lorem</ion-label>
        </div>
        <div slot="end" class="service">
          <p color="success">survey type</p>
          <h3 color="success">$ 1.50</h3>
        </div>
      </ion-item>
      <!-- / -->
      <ion-item>
        <div slot="start" class="cmp">
          <p>COMPANY NAME</p>
          <ion-label>detila detail short description lorem</ion-label>
        </div>
        <div slot="end" class="service">
          <p color="success">survey type</p>
          <h3 color="success">$ 1.50</h3>
        </div>
      </ion-item>
      <!-- / -->
      <ion-item>
        <div slot="start" class="cmp">
          <p>COMPANY NAME</p>
          <ion-label>detila detail short description lorem</ion-label>
        </div>
        <div slot="end" class="service">
          <p color="success">survey type</p>
          <h3 color="success">$ 1.50</h3>
        </div>
      </ion-item>
      <!-- / -->
      <ion-item>
        <div slot="start" class="cmp">
          <p>COMPANY NAME</p>
          <ion-label>detila detail short description lorem</ion-label>
        </div>
        <div slot="end" class="service">
          <p color="success">survey type</p>
          <h3 color="success">$ 1.50</h3>
        </div>
      </ion-item>
      <!-- / -->
      <ion-item>
        <div slot="start" class="cmp">
          <p>COMPANY NAME</p>
          <ion-label>detila detail short description lorem</ion-label>
        </div>
        <div slot="end" class="service">
          <p color="success">survey type</p>
          <h3 color="success">$ 1.50</h3>
        </div>
      </ion-item>
      <!-- / -->
      <ion-item>
        <div slot="start" class="cmp">
          <p>COMPANY NAME</p>
          <ion-label>detila detail short description lorem</ion-label>
        </div>
        <div slot="end" class="service">
          <p color="success">survey type</p>
          <h3 color="success">$ 1.50</h3>
        </div>
      </ion-item>
      <!-- / -->
    </div>
  </ion-content>ion