// .header-md:after{
//   background-image: none!important;
// }

ion-title{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}
ion-img{
  max-width: 60%;
}
h1.big-txt{
  font-size: 50px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 0px;
}

#task-title p{
  margin-bottom: 0;
}

.min-title{
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}
ion-button{
  height: 45px;
  margin-right: 15px;
}
ion-button p{
  font-size: 12px;
  padding: 10px;
}

//Removi agora pq tinhamos decidido tirar o sumário no primeiro beta
ion-button#sumaryBtn{
  display: none;
}

ion-button#requestWithdrawBtn{
  margin-left: 20px;
}
  
  #tasks{
    background-color: #a82cfb;
    padding: 10px;
    min-height: 400px;
  
    ion-item{
      margin-bottom: 10px;
      border-radius: 3px;
      
      .item-inner{
        border-bottom: 0!important;
      }
      .cmp{
        max-width: 60%;
        p{
          margin: 0 0 5px 0;
        }
        ion-label{
          font-size: 12px;
        }
      }
      .service{
        text-align: center;
        margin-left: 0;
        h3{
          font-weight: 100;
          color: #32d056;
        }
        p{
          color: #32d056;
          font-size: 11px;
        }
      }
    }
  }