<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openSettings()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class>
      Profile
      <!-- <ion-img src="assets/logo.jpeg"></ion-img> -->
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item detail>
    <ion-label>Prefrered Name</ion-label>
    <span>John</span>
  </ion-item>
  <ion-item detail>
    <ion-label>Full Name</ion-label>
    <span>John Doe</span>
  </ion-item>
  <ion-item detail>
    <ion-label>Email</ion-label>
    <span>johndoe@site.com</span>
  </ion-item>
  <ion-item detail>
    <ion-label>Phone</ion-label>
    <span>+5181999999999</span>
  </ion-item>
  <ion-item detail>
    <ion-label>Password</ion-label>
  </ion-item>
</ion-content>