<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click) = "openHome()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class>
      New Task
      <!-- <ion-img src="assets/logo.jpeg"></ion-img> -->
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class = "share-header" src = "../assets/task.png" alt = ""></ion-img>
  <ion-text>
    <p>
        The following survey presents just one simple question.
      </p>
      <p>
          This will help us get to know you better and be able to offer campaigns that best fit your profile.
    
      </p>
       
  </ion-text>

  
  <ion-row class="footer" center>  
    <ion-col>   
        <ion-button size = "large" fill="clear" (click) = "startTask()"><span>Start</span></ion-button>
    </ion-col> 
  </ion-row>

</ion-content>
